@font-face {
    src: url('../../assets/fonts/frontages.otf');
    font-family: "Frontage Condensed Outline";
}

h1 {
    margin-top: 200px;
    text-align: center;
    font-family: "Frontage Condensed Outline";
    color: #fff;
    letter-spacing: 2vw;
    font-size: 150px;
    letter-spacing: 2vw;
    margin-bottom: 50px;
}
p{
    text-align: center;
    font-size: 20px;
    color: #fff;
    letter-spacing: .3vw;

}
.adventure {
    margin-top: 50px;
    font-size: 25px;
    font-weight: bold;
}