<i class="far fa-compass" style="font-size:148px;color:#616a69; font-style: normal"></i>
<footer id="footer">
    <div class="footer">
        <div>
            <img src="https://img.icons8.com/color/44/000000/tent.png">
            <span style="color: #d8cac1">TRIP TYPE</span>
            <P>OUTDOORSY</P>
        </div>
        <div>
            <img src="https://img.icons8.com/doodle/44/000000/airport.png">
            <span>JOURNEY LENGTH</span>
            <P>LESS THAN 2 HOURS</P>
        </div>
        <div>
            <img src="https://img.icons8.com/dusk/44/000000/sun.png">
            <span>CLIMATE/WEATHER</span>
            <P>HOT AS HECK</P>
        </div>
        <div>
           <button type="submit" class="btn"><i class="far fa-compass"></i> DISCOVER</button>
        </div>
    </div>
</footer>