
<div class="nav-bar">
    <div class="icon">
      
          <a class="facebook"><i class="fab fa-instagram"></i></a>
          <a class="facebook"><i class="fab fa-twitter"></i></a>
          <a class="facebook"><i class="fab fa-facebook-f"></i></a>
          
    </div>
    <div class="nav1">
        <a class="trip" routerLink="/">TRIP</a>
        <a class="journal" routerLink="/">JOURNAL</a>
    </div>
    <div class="title"><p>KOMPASS</p></div>
    <div class="nav2">
        <a class="stories" routerLink="/">STORIES</a>
       <a class="contact" routerLink="/">CONTACT</a>
    </div>
    <div class="nav3">
        <i class="material-icons" style="font-size:20px">lock_outline</i>
        <a class="login-btn" routerLink="/">LOGIN</a>
    </div>
</div>
