.wrapper {
    background-image: url('../assets/lode-lagrainge-348521-unsplash.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    

}